<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기본타입과 타입변환</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">     
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href="{% static '/css/java.css'%}" rel="stylesheet">   
</head>
<body class="ms-3">  
  <H2><a name="home">Javascript</a></H2>  
  <p><a href="/javascript/j01.html" class="btn btn-purple mb-1" target="_blank">이전 노트</a>
    <a href="/javascript/j03.html" class="btn btn-purple mb-1" target="_blank">다음 노트</a>
    <a href="/htmls/tut1.html" class="btn btn-danger mb-1" target="_blank">HTML 노트</a> 
    <a href="/css/tut11.html" class="btn btn-success mb-1" target="_blank">CSS 노트</a> 
    <a href="/htmls/html_CSS.html" class="btn btn-outline-danger border-2 mb-1" target="_blank">HTML+CSS</a>
    <a href="/htmls/html_Emmet.html" class="btn btn-outline-danger border-2 mb-1" target="_blank">HTML+Emmet</a>
    <a href="/htmls/html_tags.html" class="btn btn-outline-danger border-2 mb-1" target="_blank">HTML+Tags</a><br>
    <a href="/python/p01.html" class="btn btn-warning mb-1" target="_blank">파이썬 노트</a> 
    <a href="/javascript/j01.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">자바스크립트 개요</a>
    <a href="/javascript/j02.html" class=" btn btn-secondary mb-1" target="_blank">기본타입과 타입변환</a>
    <a href="/javascript/j03.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">자바스크립트 연산자</a>
    <a href="/javascript/j04.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">제어문과 배열 </a>
    <a href="/javascript/j05.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">함수</a> 
    <a href="/javascript/j06.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">객체</a>      
    <a href="/javascript/j07.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">Number 객체</a> 
    <a href="/javascript/j08.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">Math 객체</a> 
    <a href="/javascript/j09.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">Date 객체</a>     
    <a href="/javascript/j10.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">String 문자열 객체</a>
    <a href="/javascript/j11.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">Array 배열 객체</a> 
    <a href="/javascript/j12.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">문서객체모델 DOM</a> 
    <a href="/javascript/j13.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">브라우저 객체 모델 BOM</a> 
    <a href="/javascript/j14.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">이벤트와 예외처리</a>
    <a href="/javascript/j15.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">정규표현식</a> 
    <a href="/javascript/j16.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">람다표현식</a> 
    <a href="/javascript/j17.html" class=" btn btn-outline-purple border-2 mb-1" target="_blank">Map과 Set, Iterator와 Generator</a> </p> 

      
     <hr>
     <div class="col-md-8 mb-2">
      <div class="p-3 text-white fs-4 bd-pink-800">자료형의 기본 타입</div>      </div>   
     
     <p>자료형 자료타입(data type)이란 프로그램에서 다룰 수 있는 값의 종류를 의미한다.<br>
     자바스크립트에서는 여러 가지 형태의 타입을 미리 정의하여 제공하고 있으며, 이것을 기본 타입이라고 한다.<br>
     자바스크립트의 기본 타입은 크게 원시 타입과 객체 타입으로 구분할 수 있다.<br><br>
     원시 타입(primitive type)은 다음과 같다.<br>
     1. 숫자(number)<br>
     2. 문자열(string)<br>
     3. 불리언(boolean)<br>
     4. 심볼(symbol) : ECMAScript 6부터 제공됨<br>
     5. undefined<br><br>
     객체 타입(object type)은 기본타입을 제외하고 모두 객체이다<br>
     6. 객체(object)</p>
     
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>;          <span style="color:#5a525f;font-style:italic">// 숫자</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> myName <span style="color:#794938">=</span> <span style="color:#0b6125">"홍길동"</span>; <span style="color:#5a525f;font-style:italic">// 문자열</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> str;               <span style="color:#5a525f;font-style:italic">// undefined</span></p>
     </div>
     
     <hr>
      <h4 class="text-primary fst-italic">숫자(number)</h4>
     
     <p>자바스크립트는 다른 언어와는 달리 정수와 실수를 따로 구분하지 않고, 모든 수를 실수 하나로만 표현한다.<br>
     또한, 매우 큰 수나 매우 작은 수를 표현할 경우에는 e 표기법을 사용할 수 있다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> firstNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>;     <span style="color:#5a525f;font-style:italic">// 소수점을 사용하지 않은 표현</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> secondNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10.00</span>; <span style="color:#5a525f;font-style:italic">// 소수점을 사용한 표현</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> thirdNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10e6</span>;   <span style="color:#5a525f;font-style:italic">// 10000000</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> fourthNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10e</span><span style="color:#794938">-</span><span style="color:#811f24;font-weight:700">6</span>; <span style="color:#5a525f;font-style:italic">// 0.00001</span></p>
     </div>
     <hr>
      <h4 class="text-primary fst-italic">문자열(string)</h4>
     
     <p>자바스크립트에서 문자열은 큰따옴표("")나 작은따옴표('')로 둘러싸인 문자의 집합을 의미한다.<br>
     큰따옴표는 작은따옴표로 둘러싸인 문자열에만 포함될 수 있으며, 작은따옴표는 큰따옴표로 둘러싸인 문자열에만 포함될 수 있다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> firstStr <span style="color:#794938">=</span> <span style="color:#0b6125">"이것도 문자열이다."</span>;      <span style="color:#5a525f;font-style:italic">// 큰따옴표를 사용한 문자열</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> secondStr <span style="color:#794938">=</span> <span style="color:#0b6125">'이것도 문자열이다.'</span>;     <span style="color:#5a525f;font-style:italic">// 작은따옴표를 사용한 문자열</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> thirdStr <span style="color:#794938">=</span> <span style="color:#0b6125">"나의 이름은 '홍길동'이야."</span>  <span style="color:#5a525f;font-style:italic">// 작은따옴표는 큰따옴표로 둘러싸인 문자열에만 포함될 수 있음.</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> fourthStr <span style="color:#794938">=</span> <span style="color:#0b6125">'나의 이름은 "홍길동"이야.'</span> <span style="color:#5a525f;font-style:italic">// 큰따옴표는 작은따옴표로 둘러싸인 문자열에만 포함될 수 있음.</span></p>
     </div>
     <p>자바스크립트에서는 숫자와 문자열을 더할 수도 있다.<br>
     이럴 경우에 자바스크립트는 숫자를 문자열로 자동 변환하여, 두 문자열을 연결하는 연산을 수행한다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>;<br>
     <span style="color:#a71d5d;font-style:italic">var</span> str <span style="color:#794938">=</span> <span style="color:#0b6125">"JavaScript"</span>;<br>
     <span style="color:#691c97">document</span>.<span style="color:#693a17">getElementById</span>(<span style="color:#0b6125">"result"</span>).innerHTML <span style="color:#794938">=</span> (num <span style="color:#794938">+</span> str); <span style="color:#5a525f;font-style:italic">// 10JavaScript</span></p>
     </p></div>
     <hr>
      <h4 class="text-primary fst-italic">불리언(boolean)</h4>
     
     <p>불리언 값은 참(true)과 거짓(false)을 표현한다.<br>
     자바스크립트에서 불리언 값은 예약어인 true와 false를 사용하여 나타낼 수 있다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> firstNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>;<br>
     <span style="color:#a71d5d;font-style:italic">var</span> secondNum <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">11</span>;<br>
     <span style="color:#691c97">document</span>.<span style="color:#693a17">getElementById</span>(<span style="color:#0b6125">"result"</span>).innerHTML <span style="color:#794938">=</span> (firstNum <span style="color:#794938">==</span> secondNum); <span style="color:#5a525f;font-style:italic">// false</span></p></div>
     
     <hr>
      <h4 class="text-primary fst-italic">심볼(symbol)</h4>
     
     <p>심볼 타입은 ECMAScript 6부터 새롭게 추가된 타입이다.<br>
     심볼은 유일하고 변경할 수 없는 타입으로, 객체의 프로퍼티를 위한 식별자로 사용할 수 있다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> sym <span style="color:#794938">=</span> Symbol(<span style="color:#0b6125">"javascript"</span>);  <span style="color:#5a525f;font-style:italic">// symbol 타입</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> symObj <span style="color:#794938">=</span> <span style="color:#691c97">Object</span>(sym);        <span style="color:#5a525f;font-style:italic">// object 타입</span></p>
    </p></div>
     심볼 타입은 익스플로러에서 지원하지 않는다.</div>
     
     <hr>
      <h4 class="text-primary fst-italic">typeof 연산자</h4>
     
     <p>typeof 연산자는 피연산자의 타입을 반환하는 피연산자가 단 하나뿐인 연산자이다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#794938">typeof</span> <span style="color:#811f24;font-weight:700">10</span>;        <span style="color:#5a525f;font-style:italic">// number 타입</span><br>
     <span style="color:#794938">typeof</span> <span style="color:#0b6125">"문자열"</span>;  <span style="color:#5a525f;font-style:italic">// string 타입</span><br>
     <span style="color:#794938">typeof</span> <span style="color:#811f24;font-weight:700">true</span>;      <span style="color:#5a525f;font-style:italic">// boolean 타입</span><br>
     <span style="color:#794938">typeof</span> <span style="color:#811f24;font-weight:700">undefined</span>; <span style="color:#5a525f;font-style:italic">// undefined 타입</span><br>
     <span style="color:#794938">typeof</span> <span style="color:#811f24;font-weight:700">null</span>;      <span style="color:#5a525f;font-style:italic">// object 타입</span></p>
    </p></div>
     <hr>
      <h4 class="text-primary fst-italic">null과 undefined</h4>
     
     <p>자바스크립트에서 null이란 object 타입이며, 아직 '값'이 정해지지 않은 것을 의미한다.<br>
     또한, undefined란 null과는 달리 '타입'이 정해지지 않은 것을 의미한다.<br>
     따라서 자바스크립트에서 undefined는 초기화되지 않은 변수나 존재하지 않는 값에 접근할 때 반환된다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> num;          <span style="color:#5a525f;font-style:italic">// 초기화하지 않았으므로 undefined 값을 반환함.</span><br>
     <span style="color:#a71d5d;font-style:italic">var</span> str <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">null</span>;   <span style="color:#5a525f;font-style:italic">// object 타입의 null 값</span><br>
     <span style="color:#794938">typeof</span> secondNum; <span style="color:#5a525f;font-style:italic">// 정의되지 않은 변수에 접근하면 undefined 값을 반환함.</span><br>
    </p></div>
     null과 undefined는 동등 연산자(==)와 일치 연산자(===)로 비교할 때 그 결괏값이 다르므로 주의해야 한다.<br>
     null과 undefined는 타입을 제외하면 같은 의미지만, 타입이 다르므로 일치하지는 않는다.</p>

     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#811f24;font-weight:700">null</span> <span style="color:#794938">==</span>  <span style="color:#811f24;font-weight:700">undefined</span>; <span style="color:#5a525f;font-style:italic">// true</span><br>
     <span style="color:#811f24;font-weight:700">null</span> <span style="color:#794938">===</span> <span style="color:#811f24;font-weight:700">undefined</span>; <span style="color:#5a525f;font-style:italic">// false</span></p>
     </div>
     
     <hr><div class="col-md-8 mb-2">
      <div class="p-3 text-white fs-4 bd-pink-800">객체(object)</div></div>
     
     <p>자바스크립트의 기본 타입은 객체(object)이다.<br>
     객체(object)란 실생활에서 우리가 인식할 수 있는 사물로 이해할 수 있다.<br>
     객체는 여러 프로퍼티(property)나 메소드(method)를 같은 이름으로 묶어놓은 일종의 집합체이다.</p>
     <div class="card text-bg-light mb-3" style="max-width: 50rem;">
     <div class="card-header bd-yellow-100"><h5>예제</h5></div>
     <p class="card-text" style="padding: 10px 10px;">
     
     <span style="color:#a71d5d;font-style:italic">var</span> dog <span style="color:#794938">=</span> { name: <span style="color:#0b6125">"해피"</span>, age: <span style="color:#811f24;font-weight:700">3</span> }; <span style="color:#5a525f;font-style:italic">// 객체의 생성</span><br>
     <span style="color:#5a525f;font-style:italic">// 객체의 프로퍼티 참조</span><br>
     <span style="color:#691c97">document</span>.<span style="color:#693a17">getElementById</span>(<span style="color:#0b6125">"result"</span>).innerHTML <span style="color:#794938">=</span><br>
     <span style="color:#0b6125">    "강아지의 이름은 "</span> <span style="color:#794938">+</span> dog.<span style="color:#b4371f">name</span> <span style="color:#794938">+</span> <span style="color:#0b6125">"이고, 나이는 "</span> <span style="color:#794938">+</span> dog.age <span style="color:#794938">+</span> <span style="color:#0b6125">"살 이다."</span>;</p>
    </p></div>

      <hr><div class="col-md-8 mb-2">
        <div class="p-3 text-white fs-4 bd-pink-800">타입 변환(type conversion)</div></div> 

      <p>자바나 C언어에서는 변수를 선언할때 변수의 자료형을 미리 결정한다 (strong data type check) <br>
        반면 자바스크립트는 타입 검사가 매우 유연한 언어로 변수의 자료형을 지정하지 않고 변수에 값이 할당되면 그 값에 따라 자료형이 결정된다  <br>
       (weak data type check)<br>  
      자바스크립트의 변수는 타입이 정해져 있지 않으며, 같은 변수에 다른 타입의 값을 다시 대입할 수도 있다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">20</span>; <span style="color:#5a525f;font-style:italic">// Number 타입의 20</span><br>
      num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">"이십"</span>; <span style="color:#5a525f;font-style:italic">// String 타입의 "이십"</span><br>
      <span style="color:#a71d5d;font-style:italic">var</span> num;      <span style="color:#5a525f;font-style:italic">// 한 변수에 여러 번 대입할 수는 있지만, 변수의 재선언은 할 수 없다. 재선언문은 무시된다.</span></p>
    </p></div>
      <hr>
      <h4 class="text-primary"><em>묵시적 타입 변환(implicit type conversion)</em></h4>
      
      <p>자바스크립트는 특정 타입의 값을 기대하는 곳에 다른 타입의 값이 오면, 자동으로 타입을 변환하여 사용한다.<br>
      즉, 문자열 값이 오길 기대하는 곳에 숫자가 오더라도 자바스크립트는 알아서 숫자를 문자열로 변환하여 사용한다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#811f24;font-weight:700">10</span> <span style="color:#794938">+</span> <span style="color:#0b6125">"문자열"</span>; <span style="color:#5a525f;font-style:italic">// 문자열 연결을 위해 숫자 10이 문자열로 변환됨.</span><br>
      <span style="color:#0b6125">"3"</span> <span style="color:#794938">*</span> <span style="color:#0b6125">"5"</span>;     <span style="color:#5a525f;font-style:italic">// 곱셈 연산을 위해 두 문자열이 모두 숫자로 변환됨.</span><br>
      <span style="color:#811f24;font-weight:700">1</span> <span style="color:#794938">-</span> <span style="color:#0b6125">"문자열"</span>;  <span style="color:#5a525f;font-style:italic">// NaN</span><br>
    </p></div>

      위의 세 번째 예제에서 뺄셈 연산을 위해 문자열이 숫자로 변환되어야 하나, 해당 문자열은 두 번째 예제의 문자열과는 달리 숫자로 변환될 수 없는 문자열이다.<br>
      따라서 의미에 맞게 자동으로 타입을 변환할 수 없으므로, 자바스크립트는 NaN 값을 반환한다.</p>
      <div class="content-box s2">NaN은 Not a Number의 축약형으로, 정의되지 않은 값이나 표현할 수 없는 값이라는 의미를 가진다.<br>
      이러한 NaN은 Number 타입의 값으로 0을 0으로 나누거나, 숫자로 변환할 수 없는 피연산자로 산술 연산을 시도하는 경우에 반환되는 읽기 전용 값이다.</div>
      
      <hr>
      <h4 class="text-primary"><em>명시적 타입 변환(explicit type conversion)</em></h4>
      
      <p>자바스크립트에서는 묵시적 타입 변환을 많이 사용하지만, 명시적으로 타입을 변환할 방법도 제공한다.<br>
      명시적 타입 변환을 위해 자바스크립트가 제공하는 전역 함수는 다음과 같다.<br>
      1. Number()<br>
      2. String()<br>
      3. Boolean()<br>
      4. Object()<br>
      5. parseInt()<br>
      6. parseFloat()</p>
      
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#691c97">Number</span>(<span style="color:#0b6125">"10"</span>); <span style="color:#5a525f;font-style:italic">// 숫자 10</span><br>
      <span style="color:#691c97">String</span>(<span style="color:#811f24;font-weight:700">true</span>); <span style="color:#5a525f;font-style:italic">// 문자열 "true"</span><br>
      <span style="color:#691c97">Boolean</span>(<span style="color:#811f24;font-weight:700">0</span>);   <span style="color:#5a525f;font-style:italic">// 불리언 false</span><br>
      <span style="color:#691c97">Object</span>(<span style="color:#811f24;font-weight:700">3</span>);    <span style="color:#5a525f;font-style:italic">// new Number(3)와 동일한 결과로 숫자 3</span></p>
      </p></div>
      <hr>
      <h4 class="text-primary"><em>숫자를 문자열로 변환</em></h4>
      
      <p>숫자를 문자열로 변환하는 가장 간단한 방법은 String() 함수를 사용하는 것이다.<br>
      또한, null과 undefined를 제외한 모든 타입의 값이 가지고 있는 toString() 메소드를 사용할 수도 있다.<br>
      숫자(Number) 객체는 숫자를 문자열로 변환하는 다음과 같은 메소드를 별도로 제공한다.<br>
      1. toExponential()<br>
      2. toFixed()<br>
      3. toPrecision()</p>

      <table class="table" style="width: 50%;">
        <thead class="table-light">
      <tr class="bg">
      <th>메소드</th>
      <th>설명</th>
      </tr>
        </thead>
        <tbody>
      <tr>
      <td>toExponential()</td>
      <td>정수 부분은 1자리, 소수 부분은 입력받은 수만큼 e 표기법을 사용하여 숫자를 문자열로 변환함.</td>
      </tr>
      <tr>
      <td>toFixed()</td>
      <td>소수 부분을 입력받은 수만큼 사용하여 숫자를 문자열로 변환함.</td>
      </tr>
      <tr>
      <td>toPrecision()</td>
      <td>입력받은 수만큼 유효 자릿수를 사용하여 숫자를 문자열로 변환함.</td>
      </tr>
        </tbody>
      </table>
      <p>메소드(method)란 객체의 프로퍼티 값으로 함수를 갖는 프로퍼티를 의미한다.</p>
      
      <hr>
      <h4 class="text-primary"><em>불리언 값을 문자열로 변환</em></h4>
      
      <p>불리언 값을 문자열로 변환하는 방법에는 String() 함수와 toString() 메소드를 사용하는 방법이 있다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#691c97">String</span>(<span style="color:#811f24;font-weight:700">true</span>);     <span style="color:#5a525f;font-style:italic">// 문자열 "true"</span><br>
      <span style="color:#811f24;font-weight:700">false</span>.<span style="color:#693a17">toString</span>(); <span style="color:#5a525f;font-style:italic">// 문자열 "false"</span></p>
      </div>
      
      <hr>
      <h4 class="text-primary"><em>날짜를 문자열이나 숫자로 변환</em></h4>
      
      <p>날짜를 문자열로 변환하는 방법에는 String() 함수와 toString() 메소드를 사용하는 방법이 있다.<br>
      자바스크립트에서 날짜(Date) 객체는 문자열과 숫자로 모두 변환할 수 있는 유일한 타입이다.<br>
      날짜(Date) 객체는 날짜를 숫자로 변환하는 다음과 같은 메소드를 별도로 제공한다.<br>
      1. getDate()<br>
      2. getDay()<br>
      3. getFullYear()<br>
      4. getMonth()<br>
      5. getTime()<br>
      6. getHours()<br>
      7. getMinutes()<br>
      8. getSeconds()<br>
      9. getMilliseconds()</p>

      <table class="table" style="width: 50%;">
        <thead class="table-light">
      <tr class="bg">
      <th>메소드</th>
      <th>설명</th>
      </tr>
        </thead>
        <tbody>
      <tr>
      <td>getDate()</td>
      <td>날짜 중 일자를 숫자로 반환함. (1 ~ 31)</td>
      </tr>
      <tr>
      <td>getDay()</td>
      <td>날짜 중 요일을 숫자로 반환함. (일요일 : 0 ~ 토요일 : 6)</td>
      </tr>
      <tr>
      <td>getFullYear()</td>
      <td>날짜 중 연도를 4자리 숫자로 반환함. (yyyy년)</td>
      </tr>
      <tr>
      <td>getMonth()</td>
      <td>날짜 중 월을 숫자로 반환함. (1월 : 0 ~ 12월 : 11)</td>
      </tr>
      <tr>
      <td>getTime()</td>
      <td>1970년 1월 1일부터 현재까지의 시간을 밀리초(millisecond) 단위의 숫자로 반환함.</td>
      </tr>
      <tr>
      <td>getHours()</td>
      <td>시간 중 시를 숫자로 반환함. (0 ~ 23)</td>
      </tr>
      <tr>
      <td>getMinutes()</td>
      <td>시간 중 분을 숫자로 반환함. (0 ~ 59)</td>
      </tr>
      <tr>
      <td>getSeconds()</td>
      <td>시간 중 초를 숫자로 반환함. (0 ~ 59)</td>
      </tr>
      <tr>
      <td>getMilliseconds()</td>
      <td>시간 중 초를 밀리초(millisecond) 단위의 숫자로 반환함. (0 ~ 999)</td>
      </tr>
        </tbody>
      </table>
      
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#691c97">String</span>(<span style="color:#691c97">Date</span>());        <span style="color:#5a525f;font-style:italic">// Mon May 16 2016 19:35:25 GMT+0900</span><br>
      <span style="color:#691c97">Date</span>().<span style="color:#693a17">toString</span>();     <span style="color:#5a525f;font-style:italic">// Mon May 16 2016 19:35:25 GMT+0900</span><br>
      <span style="color:#a71d5d;font-style:italic">var</span> date <span style="color:#794938">=</span> <span style="color:#794938">new</span> <span style="color:#bf4f24">Date</span>(); <span style="color:#5a525f;font-style:italic">// Date 객체 생성</span><br>
      date.<span style="color:#693a17">getFullYear</span>();    <span style="color:#5a525f;font-style:italic">// 2016</span><br>
      date.<span style="color:#693a17">getTime</span>();        <span style="color:#5a525f;font-style:italic">// 1463394925632 -&gt; 1970년 1월 1일부터 현재까지의 시간을 밀리초 단위의 숫자로 반환함.</span></p>
       </p></div>

      <hr>
      <h4 class="text-primary"><em>문자열을 숫자로 변환</em></h4>
      
      <p>문자열을 숫자로 변환하는 가장 간단한 방법은 Number() 함수를 사용하는 것이다.<br>
      자바스크립트는 문자열을 숫자로 변환해 주는 두 개의 전역 함수를 별도로 제공한다.<br>
      1. parseInt()<br>
      2. parseFloat()</p>
      <table class="table" style="width: 50%;">
        <thead class="table-light">
      <tr class="bg">
      <th>함수</th>
      <th>설명</th>
      </tr>
        </thead>
        <tbody>
      <tr>
      <td>parseInt()</td>
      <td>문자열을 파싱하여 특정 진법의 정수를 반환함.</td>
      </tr>
      <tr>
      <td>parseFloat()</td>
      <td>문자열을 파싱하여 부동 소수점 수를 반환함.</td>
      </tr>
        </tbody>
      </table> 
      
      <hr>
      <h4 class="text-primary"><em>불리언 값을 숫자로 변환</em></h4>
      
      <p>불리언 값을 숫자로 변환하는 방법에는 Number() 함수를 사용하는 방법이 있다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#691c97">Number</span>(<span style="color:#811f24;font-weight:700">true</span>);  <span style="color:#5a525f;font-style:italic">// 숫자 1</span><br>
      <span style="color:#691c97">Number</span>(<span style="color:#811f24;font-weight:700">false</span>); <span style="color:#5a525f;font-style:italic">// 숫자 0</span></p>
      </div>
      
      <hr>
      <div class="col-md-8 mb-2">
        <div class="p-3 text-white fs-4 bd-pink-800">변수의 선언과 초기화</div></div>
      
      <p>변수(variable)란 데이터(data)를 저장할 수 있는 메모리 공간을 의미하며, 그 값이 변경될 수 있다.<br>
      자바스크립트에서는 var 키워드를 사용하여 변수를 선언한다.<br>
      자바스크립트에서는 선언되지 않은 변수를 사용하려고 하거나 접근하려고 하면 오류가 발생한다.<br>
      단, 선언되지 않은 변수를 초기화할 경우에는 자동으로 선언을 먼저 한 후 초기화를 진행한다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> month; <span style="color:#5a525f;font-style:italic">// month라는 이름의 변수 선언</span><br>
      date <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">25</span>; <span style="color:#5a525f;font-style:italic">// date라는 이름의 변수를 묵시적으로 선언</span></p>
      </div>

      <p>선언된 변수는 나중에 초기화할 수도 있고, 선언과 동시에 초기화할 수도 있다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> month;     <span style="color:#5a525f;font-style:italic">// 변수의 선언</span><br>
      <span style="color:#a71d5d;font-style:italic">var</span> date <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">25</span>; <span style="color:#5a525f;font-style:italic">// 변수의 선언과 동시에 초기화</span><br>
      month <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">12</span>;    <span style="color:#5a525f;font-style:italic">// 변수의 초기화</span><br>
    </p></div>
      쉼표(,) 연산자를 이용하여 여러 변수를 동시에 선언하거나 초기화할 수도 있다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> month, date;             <span style="color:#5a525f;font-style:italic">// 여러 변수를 한 번에 선언</span><br>
      <span style="color:#a71d5d;font-style:italic">var</span> hours <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">7</span>, minutes <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">15</span>; <span style="color:#5a525f;font-style:italic">// 여러 변수를 선언과 동시에 초기화</span><br>
      month <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>, date <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">5</span>;        <span style="color:#5a525f;font-style:italic">// 여러 변수를 한 번에 초기화</span></p>
    </p></div>
      <hr>
      <h4 class="text-primary fst-italic">변수의 타입과 초깃값</h4>
      
      <p>자바스크립트의 변수는 타입이 정해져 있지 않으며, 같은 변수에 다른 타입의 값을 다시 대입할 수도 있다.<br>
      이렇게 한 변수에 다른 타입의 값을 여러 번 대입할 수는 있지만, 한 번 선언된 변수를 재선언할 수는 없다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>;        <span style="color:#5a525f;font-style:italic">// 변수의 선언과 함께 초기화</span><br>
      num <span style="color:#794938">=</span> [<span style="color:#811f24;font-weight:700">10</span>, <span style="color:#811f24;font-weight:700">20</span>, <span style="color:#811f24;font-weight:700">30</span>];  <span style="color:#5a525f;font-style:italic">// 배열 대입</span><br>
      <span style="color:#a71d5d;font-style:italic">var</span> num;             <span style="color:#5a525f;font-style:italic">// 이 재선언문은 무시됨.</span><br>
    </p></div>

      배열(array)이란 여러 값들로 이루어진 하나의 집합을 의미한다.</p> 
      <p>자바스크립트에서 선언만 되고 초기화하지 않은 변수는 undefined 값을 갖다.</p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h5>예제</h5></div>
      <p class="card-text" style="padding: 10px 10px;">
      
      <span style="color:#a71d5d;font-style:italic">var</span> num;  <span style="color:#5a525f;font-style:italic">// undefined</span><br>
      num <span style="color:#794938">=</span> <span style="color:#811f24;font-weight:700">10</span>; <span style="color:#5a525f;font-style:italic">// 10</span></p>
      </p></div>
      <hr>
      <h4 class="text-primary fst-italic">변수의 이름</h4>
      
      <p>자바스크립트에서 변수는 이름을 가지고 식별하므로, 변수의 이름은 식별자(identifier)이다.<br>
      변수의 이름은 영문자(대소문자), 숫자, 언더스코어(_) 또는 달러($)로만 구성된다.<br>
      또한, 숫자와의 구분을 빠르게 하려고 숫자로는 시작할 수 없다.<br>
      이러한 변수의 이름은 대소문자를 구분하며, 자바스크립트 언어에서 예약된 키워드는 이름으로 사용할 수 없다.</p> 
            
  
</body>
</html>