<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Study</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
     <!-- bootstrap css -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"> 
     <!-- style css -->
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     <!-- Responsive-->
     <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
     <!-- fevicon -->
     <link rel="icon" href="{% static 'img/fevicon.png'%}" type="image/gif" />
     <!-- font css -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
     <!-- Scrollbar Custom CSS -->
     <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css'%}">
     <!-- Tweaks for older IEs-->
     <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   
   <style>
      .ctn1 {width:100%; height:150px; margin:2px 2px; display:flex; justify-content: space-between;}
      .itm1 {width:50%;height:140px;margin:3px;padding:3px;} 
      .form-django {display:flex; justify-content:space-evenly;padding:15px 0px}
      .sub1 {clear:both;}
      .sub1 select {width:15%;height:25%;text-align:center;font-family: 'Poppins', sans-serif;font-size:18px;border-radius: 5px;}
      .sub1 input {border:1px solid;width:35%;height:25%;text-align:center;font-family: 'Poppins', sans-serif;font-size:18px;border-radius: 5px;} 
      .sub1 a {border: 1px solid #d78373; color:white;width:20%;background-color:#d78373;text-align:center;font-family: 'Poppins', sans-serif;font-size:18px;border-radius: 5px;}
   </style>  
   <body>
      <div class="header_section header_bg">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="index.html"><img src="{% static 'img/logo.png'%}"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="study.html">study</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="coffees.html">Coffees</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                     </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                     <div class="login_bt">
                        <ul>
                           <li><a href="#"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login</a></li>
                           <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </form>
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end -->
      <!-- coffee section start --> 
            
     <div class="ctn1">
         <div class="itm1">
            <h1 class="coffee_taital">서울시교육청 전국연합학력고사</h1>   
               <div class="sub1">
               <form method="get" action="" class="form form-django"> 
                  <!--선택된 학년은 GET 파라미터로 전달되며, views.py에서 이를 받아 필터링된 쿼리셋을 생성한다. -->
               <select name="grade" id="grade"> 
                  <option selected>학년</option>
                  <option value="1">1학년</option>
                  <option value="2">2학년</option>
                  <option value="3">3학년</option></select>
               <select name="subject" id="subject">
                  <option selected>과목</option>
                  <option value="1">국어</option>
                  <option value="2">영어</option>
                  <option value="3">수학</option>
                  <option value="4">과학</option>
                  <option value="5">사회</option>
                  <option value="6">한국사</option>
                  <option value="7">외국어</option></select>
               <input type="text" placeholder="저장할 폴더위치" name="input1" id="input1">  
               <a href="/run_script" name="">모의고사 크롤링</a></form>
             </div>
         </div>          
         <div class="itm1"></div>
     </div> </div>
      <div class="coffee_section layout_padding">
         <div class="container">
            <div class="row">
               <h1 class="coffee_taital">What I want to study</h1>
               <div class="bulit_icon"><img src="{% static 'img/bulit-icon.png'%}"></div>
            </div>
         </div>
         <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="https://source.unsplash.com/wUbNvDTsOIc/380x324"></div>
                              <h3 class="types_text">HTML</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="/htmls/tut1.html">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="https://source.unsplash.com/oZMUrWFHOB4/380x324"></div>
                              <h3 class="types_text">CSS</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="/css/tut11.html">Read More</a></div>
                              <div class="read_bt"><a href="/css/tut11.html">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="https://source.unsplash.com/L8KQIPCODV8/380x324"></div>
                              <h3 class="types_text">Javascript</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="/javascript/j02.html">Read More</a></div>
                              <div class="read_bt"><a href="/javascript/j02.html">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="https://source.unsplash.com/cRAOVH371wg/380x324"></div>
                              <h3 class="types_text">PYTHON</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="/python/p01.html">Read More</a></div>
                              <div class="read_bt"><a href="/python/p01.html">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-1.png'%}"></div>
                              <h3 class="types_text">TYPES OF COFFEE</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-2.png'%}"></div>
                              <h3 class="types_text">BEAN VARIETIES</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-3.png'%}"></div>
                              <h3 class="types_text">COFFEE & PASTRY</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-4.png'%}"></div>
                              <h3 class="types_text">COFFEE TO GO</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-1.png'%}"></div>
                              <h3 class="types_text">TYPES OF COFFEE</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-2.png'%}"></div>
                              <h3 class="types_text">BEAN VARIETIES</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-3.png'%}"></div>
                              <h3 class="types_text">COFFEE & PASTRY</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'img/img-4.png'%}"></div>
                              <h3 class="types_text">COFFEE TO GO</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- coffee section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="address_text">Address</h1>
                  <p class="footer_text">here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use </p>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">+01 1234567890</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">smclinic11@naver.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="form-group">
                     <textarea class="update_mail" placeholder="Your Email" rows="5" id="comment" name="Your Email"></textarea>
                     <div class="subscribe_bt"><a href="#"><img src="{% static 'img/teligram-icon.png'%}"></a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-12">
                  <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="footer_social_icon">
                     <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
   
   <script type="text/javascript">
      (document).ready(function(){
          ("select[name=s1]").change(function () {
          ("#s1").submit();  
          });
      });
      (document).ready(function(){
          ("select[name=s2]").change(function () {
          ("#s2").submit();  
          });
      });
      (document).ready(function(){
          ("select[name=input1]").change(function () {
          ("#input1").submit();  
          });
      });
  </script>
<!-- 
   <script>
      // Function to handle the button click event
      function runScript() {
        // Get the input values
        var grade = document.getElementById('s1').value;
        var subject = document.getElementById('s2').value;
        var downloadDirectory = document.getElementById('input1').value;
    
        // Validate the input values
        if (!grade || !subject || !downloadDirectory) {
          alert('검색조건과 저장위치를 입력해주세요.');
        } else {
          // Execute the script
          var scriptPath = 'D:/coding_play/django/study/download_exam.py';
          var command = 'python "' + scriptPath + '" ' + grade + ' ' + subject + ' "' + downloadDirectory + '"';
          window.open(command);
        }
      }
    
      // Attach the click event listener to the button
      var runScriptBtn = document.getElementById('runScriptBtn');
      runScriptBtn.addEventListener('click', runScript);
    </script> -->
</html>