<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파이썬 숫자형타입</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">     
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!-- font css -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <link href="{% static '/css/java.css'%}" rel="stylesheet">   
  <link href="{% static '/css/style.css'%}" rel="stylesheet">     
</head>
<body class="ms-3">  
  <H2 class="coffee_taital" style="text-align:left;"><a name="home">파이썬</a></H2>  
    <p><a href="/python/p02.html" class="btn btn-warning mb-1" target="_blank">이전 노트</a>
    <a href="/python/p04.html" class="btn btn-warning mb-1" target="_blank">다음 노트</a>            
    <a href="/htmls/tut1.html" class="btn btn-danger mb-1" target="_blank">HTML 노트</a> 
    <a href="/css/tut11.html" class="btn btn-success mb-1" target="_blank">CSS 노트</a> 
    <a href="/javascript/j01.html" class="btn btn-purple mb-1" target="_blank">Javascript 노트</a>
     <a href="/python/p01.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">파이썬의 기초</a>
     <a href="/python/p02.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">변수</a>
     <a href="/python/p03.html" class=" btn btn-secondary mb-1" target="_blank">숫자형타입</a>
     <a href="/python/p04.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">불리언타입</a>
     <a href="/python/p05.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">문자열타입</a>
     <a href="/python/p06.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">조건문</a>
     <a href="/python/p07.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">반복문</a>
     <a href="/python/p08.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">break와 continue</a>
     <a href="/python/p09.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">리스트 타입</a>
     <a href="/python/p10.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">튜플 타입</a>
     <a href="/python/p11.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">세트 타입</a>
     <a href="/python/p12.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">딕셔녀리 타입</a>
     <a href="/python/p13.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">함수</a>
     <a href="/python/p14.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">변수의 유효범위</a>
     <a href="/python/p15.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">클래스</a>
     <a href="/python/p16.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">객체</a>
     <a href="/python/p17.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">상속</a>
     <a href="/python/p18.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">모듈</a>
     <a href="/python/p19.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">파일 입출력</a>     
     <a href="/python/p20.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">예외처리</a>    
     <a href="/python/p21.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">웹스크래핑1</a>    
     <a href="/python/p22.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">웹스크래핑2</a>   </p> 
     
      <hr>
      <div class="col-md-8 mb-2">
        <div class="p-3 text-white fs-4 bd-pink-800">변수의 타입</h2></div>
      <p>C언어나 자바와 같은 프로그래밍 언어에서는 변수를 선언할 때 반드시 타입이라는 것을 같이 명시해야 한다.<br>
      변수의 타입(type)이란 정수나 실수, 문자열 등과 같이 해당 변수에 저장된 데이터의 종류를 나타내며, 변수의 타입을 통해 해당 변수가 프로그램 내에서 어떻게 처리되어야 하는지를 알려주는 지표와 같은 역할을 한다.</p>
      <table class="table text-center" style="width:60%;">
        <thead>
          <tr class="bg">
            <th style="width: 50%;">C언어</th>
            <th>자바</th>
          </tr>
        </thead>
        <tbody>
          <tr style="border-bottom: gray solid 1px;" >
            <td>
            <p>int num = 256;</p>
            </td>
            <td style="text-align: center;">
            <p>double num = 3.14;</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p>하지만 파이썬에서는 변수를 선언할 때 별도로 타입을 명시하지 않아도 변수에 대입되는 데이터의 타입에 따라 변수의 타입을 자동으로 설정해 준다.</p>

      
    <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><h4><b>데이터 타입(data-type) : 데이터의 종류</b></h2></div>
    <p class="card-text" style="padding: 10px 10px;">   
  # Sequence Types: str(문자열), list(리스트), tuple(튜플), range() <br>
  # Mapping Type: dict(딕셔너리, 사전)<br>
  # Set Types: set(집합)<br>
  # Binary Types: bytes, bytearray, memoryview<br>
  # Numeric Types: int(정수), float(실수), complex(복소수)<br>
  # Boolean Type: bool(불리언)  참거짓<br></p></div>

  <p><table class="table tb-2" id="table1"><thead";><tr><th>TYPES<br></th><th>DATA<br></th><th>Iterable<br>(반복가능)</th><th>mutable<br>(수정가능)</th></tr></thead>
    <tr><td rowspan="4">Sequence</td><td>str(문자열)<td rowspan="4">O</td><td>X</td></tr>
    <tr><td>list(리스트)<td>X</td></tr>
    <tr><td>tuple(튜플)<td>X</td></tr>
    <tr><td>range()<td>X</td></tr>
    <tr><td>Mapping</td><td>dict(딕셔너리,사전)<td>O</td><td>O</td></tr>
    <tr><td>Set</td><td>set(집합)<td>O</td><td>X</td></tr>
    <tr><td rowspan="3">Binary</td><td>bytes<td rowspan="3">O</td><td>X</td></tr>
    <tr><td>bytearray<td>X</td></tr>
    <tr><td>memoryview<td>X</td></tr>
    <tr><td rowspan="3">Numeric</td><td>int(정수)<td rowspan="3">X</td><td>X</td></tr>
    <tr><td>float(실수)<td>X</td></tr>
    <tr><td>complex(복소수)<td>X</td></tr>
    <tr><td>Boolean Type</td><td>bool(불리언) 참거짓<td>X</td><td>X</td></tr></table></p></div>
<style> 
  #table1 thead {background-color: lightgray;}
  #table1 th:nth-child(1), #table1 th:nth-child(2), #table1 td:nth-child(1), #table1 td:nth-child(2) {text-align:left; width:20%;}
  #table1 th:nth-child(3), #table1 th:nth-child(4), #table1 td:nth-child(3), #table1 td:nth-child(4) {text-align:center; width:30%;}
  #table1 tr:nth-child(3) td:nth-child(2), #table1 tr:nth-child(4) td:nth-child(2), #table1 tr:nth-child(5) td:nth-child(2), 
  #table1 tr:nth-child(9) td:nth-child(2), #table1 tr:nth-child(10) td:nth-child(2), #table1 tr:nth-child(12) td:nth-child(2), 
  #table1 tr:nth-child(13) td:nth-child(2) {text-align: center;}
  #table1 tr {vertical-align:middle;} 
</style>
    <hr>
    <div class="col-md-8 mb-2">
     <div class="p-3 text-white fs-4 bd-pink-800">숫자형 타입</div><Br>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
    <p class="card-text" style="padding: 10px 10px;"> 
      var = 7<br>
      print(type(var))  <br>
      var = "문자열"<br>
      print(type(var))</p>

      <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br>
      &lt;class 'int'&gt;<br>
      &lt;class 'str'&gt;<br></p></div>
      <p>위의 예제의 1번 라인에서 변수 var는 정수를 대입하여 선언했으므로, 변수 var의 타입도 정수로 선언된다.<br>
      <p>하지만 4번 라인에서 정수형 변수 var에 문자열을 대입하게 되면, 변수 var의 타입도 문자열로 자동 변경된다.<br>
      type() 함수는 인수로 전달된 데이터나 변수의 타입을 반환하는 함수이다.</p></div>
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">데이터 타입</h2>
      <p>변수뿐만 아니라 프로그램에 사용되는 모든 데이터에도 타입이 존재한다. 데이터 타입(data type, 자료형)이란 해당 데이터가 메모리에 어떻게 저장되고, 프로그램 내에서 어떻게 처리되어야 하는지를 명시적으로 알려주는 역할을 한다.<br>
      예를 들어, 1, 2, 3.14와 같은 숫자들은 숫자형 타입이 되며, "안녕하세요!"와 같은 문자열은 문자열 타입이 되는 것이다.<br>
      파이썬에서는 다음과 같은 기본 데이터 타입을 제공하고 있다.<br>
      1. 숫자형 타입(numeric types)<br>
      2. 불리언 타입(boolean types)<br>
      3. 문자열 타입(text sequence types)</p>
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">숫자형 타입(numeric types) : int, float</h2>
      <p>숫자형 타입이란 1, 2, 3.14와 같이 숫자의 형태로 이루어진 데이터 타입을 의미한다.<br>
      이중에서 1과 2와 같이 소수점이 없는 숫자형 데이터를 정수형(integer) 타입이라고 하며, 3.14와 같이 소수점을 가지고 있는 숫자형 데이터를 실수형(floating-point) 타입이라고 한다.</p>
      

  <div class="card text-bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header bd-yellow-100"><h4><b> Numeric Types : Int / Float / Complex</b></h2></div>
  <p class="card-text" style="padding: 10px 10px;">   
  Int(정수형) : 숫자형의 하나로 소수점이 없는 정수<br>
  Float(소수형) : 숫자형의 하나로 소수점이 있는 실수<br>
  Complex(복소수) : 실수와 허수의 합인 복소수<br><br>
  
  일반적으로 수학에서 가능한 모든 기능을 사용할 수 있음<br>
  import math를 통해 수학적 기능을 확장시켜 활용 가능<br></p></div>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
    <p class="card-text" style="padding: 10px 10px;"> 
      i = 10<br>
      j = 3.14<br>
      print(type(i))<br>
      print(type(j))</p>

      <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br>
      &lt;class 'int'&gt;<br>
      &lt;class 'float'&gt;</p></div>
      <p>위의 예제에서 변수 i에는 정수 10이 저장되므로 정수형 타입으로 선언된다. 따라서 type() 함수에 인수로 변수 i를 전달하면 int 클래스가 반환된다.<br>
      또한, 변수 j는 실수 3.14가 저장되어 실수형 타입으로 선언되므로, type() 함수가 float 클래스를 반환하게 된다. 이처럼 파이썬에서는 각각의 데이터 타입이 하나의 클래스(class)로 작성되어 제공된다.<br>
      클래스(class)란 객체 지향 프로그래밍에서 객체(object)를 만들어 내기 위한 일종의 설계도라 할 수 있으며, 객체(object)란 실생활에서 우리가 인식할 수 있는 사물로 설명할 수 있다.</p>
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">산술 연산자(arithmetic operator)</h2>
      <p>숫자형 데이터끼리는 더하기(+), 빼기(-), 곱하기(*), 제곱(**), 나누기(/)와 같은 산술 연산자를 사용하여 사칙연산을 수행할 수 있다.<br> 
       파이썬에서 정수형 데이터끼리의 나눗셈을 제외한 사칙 연산은 언제나 정수형 데이터를 결과로 반환하며, <br>
       실수형 데이터끼리의 사칙 연산은 언제나 실수형 데이터를 결과로 반환한다. <br>
       단, 정수형 데이터끼리의 나눗셈의 결과는 정수형이 아닌 실수형으로 반환됨으로 이 점 주의해야 한다.<br> 
        마지막으로 실수형 데이터와 정수형 데이터 사이의 사칙 연산은 언제나 실수형 데이터를 결과로 반환한다.</p>
        
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
          <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
      <p class="card-text" style="padding: 10px 10px;">
      i = 4<br>
      j = 2  <br>
      print(i + j)<br>
      print(i - j)<br>
      print(i * j)<br>
      print(i ** j)<br>
      print(i / j)  </p>

      <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br>
      6<br>
      2<br>
      8<br>
      16<br>
      2.0</p></div>
      <p>위 예제의 7번 라인에서 정수 4를 정수 2로 나눈 결과가 정수 2가 아닌 실수 2.0으로 반환되는 것을 확인할 수 있다.<br>
      이때 나눗셈의 몫을 실수가 아닌 정수로 얻고 싶다면 나눗셈(/) 연산자가 아닌 <span class="text-danger fw-bold">몫(//) 연산자</span>를 사용해야 한다. <br>
        또한, 나눗셈의 나머지를 얻고 싶을 때에는 <span class="text-danger fw-bold">나머지(%) 연산자</span>를 사용하면 된다.</p>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
          <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
      <p class="card-text" style="padding: 10px 10px;">
      i = 4<br>
      j = 2  <br>
      print(i / j)<br>
      print(i // j)<br>
      print(i % j)  </p>

      <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br>
      2.0<br>
      2<br>
      0</p>      </div>

 
      <table class="tb-2"summary=""> 
        <thead>
        <tr  style="border-bottom: gray solid 1px; background-color: lightgray;"><th style="width: 25%">연산</th>
        <th style="width: 40%">결과</th>
        <th style="width: 11%">노트</th>
        <th style="width: 24%">전체 문서</th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>+</span> <span>y</span></code></td>
        <td><em>x</em> 와 <em>y</em> 의 합</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>-</span> <span>y</span></code></td>
        <td><em>x</em> 와 <em>y</em> 의 차</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>*</span> <span>y</span></code></td>
        <td><em>x</em> 와 <em>y</em> 의 곱</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>/</span> <span>y</span></code></td>
        <td><em>x</em> 와 <em>y</em> 의 몫</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>//</span> <span>y</span></code></td>
        <td><em>x</em> 와 <em>y</em> 의 정수로 내림한 몫</td>
        <td>(1)</td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>%</span> <span>y</span></code></td>
        <td><code><span>x</span> <span>/</span> <span>y</span></code> 의 나머지</td>
        <td>(2)</td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>-x</span></code></td>
        <td>음의 <em>x</em></td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>+x</span></code></td>
        <td><em>x</em> 그대로</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>abs(x)</span></code></td>
        <td><em>x</em> 의 절댓값 또는 크기</td>
        <td></td>
        <td><a href="functions.html#abs" title="abs"><code><span>abs()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>int(x)</span></code></td>
        <td>정수로 변환된 <em>x</em></td>
        <td>(3)(6)</td>
        <td><a href="functions.html#int" title="int"><code><span>int()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>float(x)</span></code></td>
        <td>실수로 변환된 <em>x</em></td>
        <td>(4)(6)</td>
        <td><a href="functions.html#float" title="float"><code><span>float()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>complex(re,</span> <span>im)</span></code></td>
        <td>실수부 <em>re</em> 와 허수부 <em>im</em> 으로 구성된 복소수. <em>im</em> 의 기본값은 0입니다.</td>
        <td>(6)</td>
        <td><a href="functions.html#complex" title="complex"><code><span>complex()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>c.conjugate()</span></code></td>
        <td>복소수 <em>c</em> 의 켤레</td>
        <td></td>
        <td></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>divmod(x,</span> <span>y)</span></code></td>
        <td>쌍 . 몫과 나머지 <code><span>(x</span> <span>//</span> <span>y,</span> <span>x</span> <span>%</span> <span>y)</span></code></td>
        <td>(2)</td>
        <td><a href="functions.html#divmod" title="divmod"><code><span>divmod()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>pow(x,</span> <span>y)</span></code></td>
        <td><em>x</em> 의 <em>y</em> 거듭제곱</td>
        <td>(5)</td>
        <td><a href="functions.html#pow" title="pow"><code><span>pow()</span></code></a></td>
        </tr>
        <tr style="border-bottom: gray solid 1px;" ><td><code><span>x</span> <span>**</span> <span>y</span></code></td>
        <td><em>x</em> 의 <em>y</em> 거듭제곱</td>
        <td>(5)</td>
        <td></td>
        </tr>
        </tbody>
        </table>

        <span>노트:</span>
        <ol>
          <li>1. 정수 나눗셈이라고 도 한다. 결괏값의 형이 꼭 int 일 필요는 없지만, 결괏값은 항상 정수다. <br>결과는 항상 음의 무한대를 향해 내림된다: 
            <code><span>1//2</span></code> 는 <code><span>0</span></code>, <code><span>(-1)//2</span></code> 는 <code><span>-1</span></code>, <code><span>1//(-2)</span></code> 는 <code><span>-1</span></code>, <code><span>(-1)//(-2)</span></code> 는 <code><span>0</span></code> 이다.</li>
          <li>2. 복소수에는 사용할 수 없다. 적절한 경우 <a  href="functions.html#abs" title="abs"><code><span>abs()</span></code></a>를 사용하여 실수로 변환하도록 한다.</li>
          <li>3. Conversion from <a href="functions.html#float" title="float"><code><span>float</span></code></a> to <a href="functions.html#int" title="int"><code><span>int</span></code></a> truncates, discarding the fractional part. See functions <a href="math.html#math.floor" title="math.floor"><code><span>math.floor()</span></code></a> and <a href="math.html#math.ceil" title="math.ceil"><code><span>math.ceil()</span></code></a> for alternative conversions.
          </li>
          <li>4. float는 또한 숫자가 아님(NaN)과 양 또는 음의 무한대를 나타내는 문자열 “nan”과 접두사 “+” 나 “-” 가 선택적으로 붙을 수 있는 “inf”를 받아들인다.</li>
          <li>5. 파이썬은 프로그래밍 언어들에서 흔히 그렇듯이, 있는 것처럼 <code><span>pow(0,</span> <span>0)</span></code> 와 <code><span>0</span> <span>**</span> <span>0</span></code> 이 <code><span>1</span></code> 이 되도록 정의한다.</li>
          <li>6. 받아들여지는 숫자 리터럴은 <code><span>0</span></code> 에서 <code><span>9</span></code> 까지 또는 모든 동등한 유니코드들을 (<code><span>Nd</span></code> 속성을 가진 코드 포인트들) 포함한다. 
          </li>
          </ol>
</body>
</html>