<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>파이썬 반복문</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">     
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <!-- font css -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <link href="{% static '/css/java.css'%}" rel="stylesheet">   
  <link href="{% static '/css/style.css'%}" rel="stylesheet">     
</head>
<body class="ms-3">  
  <H2 class="coffee_taital" style="text-align:left;"><a name="home">파이썬</a></H2>  
    <p><a href="/python/p01.html" class="btn btn-warning mb-1" target="_blank">이전 노트</a>
      <a href="/python/p03.html" class="btn btn-warning mb-1" target="_blank">다음 노트</a>            
      <a href="/htmls/tut1.html" class="btn btn-danger mb-1" target="_blank">HTML 노트</a> 
      <a href="/css/tut11.html" class="btn btn-success mb-1" target="_blank">CSS 노트</a> 
      <a href="/javascript/j01.html" class="btn btn-purple mb-1" target="_blank">Javascript 노트</a>
     <a href="/python/p01.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">파이썬의 기초</a>
     <a href="/python/p02.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">변수</a>
     <a href="/python/p03.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">숫자형타입</a>
     <a href="/python/p04.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">불리언타입</a>
     <a href="/python/p05.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">문자열타입</a>
     <a href="/python/p06.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">조건문</a>
     <a href="/python/p07.html" class=" btn btn-secondary mb-1" target="_blank">반복문</a>
     <a href="/python/p08.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">break와 continue</a>
     <a href="/python/p09.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">리스트 타입</a>
     <a href="/python/p10.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">튜플 타입</a>
     <a href="/python/p11.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">세트 타입</a>
     <a href="/python/p12.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">딕셔녀리 타입</a>
     <a href="/python/p13.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">함수</a>
     <a href="/python/p14.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">변수의 유효범위</a>
     <a href="/python/p15.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">클래스</a>
     <a href="/python/p16.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">객체</a>
     <a href="/python/p17.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">상속</a>
     <a href="/python/p18.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">모듈</a>
     <a href="/python/p19.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">파일 입출력</a>     
     <a href="/python/p20.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">예외처리</a>    
     <a href="/python/p21.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">웹스크래핑1</a>    
     <a href="/python/p22.html" class=" btn btn-outline-warning border-2 mb-1" target="_blank">웹스크래핑2</a>   </p> 

     <div class="col-md-8 mb-2">
      <div class="p-3 text-white fs-4 bd-pink-800">반복문</div>
      <p> while문 과 for문은 조건이 true일 때까지 명령문을 반복 수행한다 <br>
      반복되는 코드가 있다면 항상 반복문을 떠올리자!<Br>
      break 활용 : break를 만나면 반복문 탈출<Br>
      continue 활용 : continue를 만나면 해당 조건을 무시하고 다시 반복을 이어감 <br><br>
      
  🙌 실행의 종료 조건이 분명할 때는 while문 사용<Br>
  🙌 실행의 반복 횟수가 분명할 때는 for문 사용<Br>
     
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">반복문(iteration statements)</h2>
      <p>현실 세계의 많은 문제들은 대체로 반복적인 형태를 하고 있는 것이 많다. <br>
        이것은 곧 어떤 조건을 만족시킬 때까지 특정 행동을 지속적으로 반복해서 수행해야 한다는 의미이다.<br>
      프로그래밍에서 이러한 반복 작업은 다음 예제처럼 단순히 소스 코드를 반복해서 작성해도 원하는 결과를 얻을 수 있다.</p>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
          <p class="card-text" style="padding: 10px 10px;">
      print("파이썬 1")<br>
      print("파이썬 2")<br>
      print("파이썬 3")<br>
      print("파이썬 4")<br>
      print("파이썬 5")<br>
      print("파이썬 6")<br>
      print("파이썬 7")<br>
      print("파이썬 8")<br>
      print("파이썬 9")<br>
      print("파이썬 10")</p>

    <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br> 
      파이썬 1<br>
      파이썬 2<br>
      파이썬 3<br>
      파이썬 4<br>
      파이썬 5<br>
      파이썬 6<br>
      파이썬 7<br>
      파이썬 8<br>
      파이썬 9<br>
      파이썬 10<br></p></div></div>
      <p>하지만 위의 예제와 같이 print() 함수의 호출이 몇 번 안 되면 모르겠지만 만약 이와 같은 함수의 호출이 1000번 또는 10000번 이상 수행되어야 한다면 해당 소스 코드의 길이는 굉장히 길어지게 되고 가독성 또한 매우 나빠지게 될 것이다.<br>
      따라서 파이썬을 비롯한 대부분의 프로그래밍 언어에서는 반복해서 특정 명령이나 연산을 수행해야 할 경우 사용할 수 있도록 반복문이라는 것을 제공하고 있다. 반복문(iteration statements)이란 프로그램 내에서 똑같은 명령을 일정 횟수만큼 반복하여 수행하도록 제어해 주는 명령문을 의미한다.</p>
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">while 문</h2>
      <p>파이썬에서 사용할 수 있는 가장 간단한 반복문은 while 문이다.<br>
      while 문은 조건식이 특정 조건을 만족할 때까지 계속해서 주어진 명령문을 반복 실행한다.<br>
      파이썬에서 while 문은 다음과 같은 방식으로 사용할 수 있다.</p>
      <p><span class="fw-bold">문법<br>
      while 조건식:<br>
          조건식의 결과가 참(True)인 동안 반복적으로 실행되는 명령문<br></span><br>
      다음은 while 문의 동작을 나타낸 흐름도이다.<br></p>
      <p>while문 순서도</p>
      <p><img alt="if" src="http://www.tcpschool.com/lectures/img_c_while.png" style="width: 500px; height: 328px;"><br>
      while 문을 만난 프로그램은 가장 먼저 조건식(②)의 결과가 참(True)인지를 검사한다. <br>
      만약 조건식의 결과가 참(True)이라면 프로그램의 흐름은 while 문 내부로 진입하며, 만약 결과가 거짓(False)이라면 while 문에 진입하지 않고 건너뛰게 된다.<br>
      while 문 내부로 진입한 프로그램은 내부에 포함된 모든 명령문(③)을 실행하고 나서 또다시 조건식을 검사한다. <br>
      이렇게 조건식을 검사하고 명령문을 모두 수행한 후 또다시 조건식을 검사하는 모양이 마치 고리와 같다고 하여 반복문을 루프(loop)라고도 부른다.<br>
      다음 예제는 앞서 살펴본 예제를 while 문을 사용하여 다시 구현한 예제이다.</p>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
          <p class="card-text" style="padding: 10px 10px;">
      i = 1<br>
      while i &lt; 11: # 조건식<br>
          print("파이썬 " + str(i))<br>
          i = i + 1 # 루프 탈출 조건<br>

    <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br> 
      파이썬 1<br>
      파이썬 2<br>
      파이썬 3<br>
      파이썬 4<br>
      파이썬 5<br>
      파이썬 6<br>
      파이썬 7<br>
      파이썬 8<br>
      파이썬 9<br>
      파이썬 10<br></p></div></div>
      <p>앞선 예제의 소스 코드가 총 10줄이었다면 while 문을 사용한 이번 예제는 단 4줄의 소스 코드로 <br>
      동일한 결과를 보여주고 있다. 이처럼 반복문을 적절히 사용하면 소스 코드의 길이뿐만 아니라<br>
      코드의 가독성까지 좋게 만들 수 있다.<br>

    <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100 fw-bold fs-5">0~3까지 출력하는 while 문</div>

        <p class="card-text" style="padding: 10px 10px;"> 
        i = 0<br>
        while i &lt;= 4:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;    print(i)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;    i = i + 1<br><br>
        <span class="fw-bold"># 반복문 기본<br></span>
        v1 = 1<br>
        while v1 &lt; 11:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;    print("vq is :", v1) # body<br>
        &nbsp;&nbsp;&nbsp;&nbsp;    v1 += 1<br><br>
        for v2 in range(1,11):<br>
        &nbsp;&nbsp;&nbsp;&nbsp;    print("v2 is :", v2) # body<br></p></div></div>
        <br><br> 

      <p>참고 : do while 문 순서도</p>
      <p><img alt="if" src="http://www.tcpschool.com/lectures/img_c_dowhile.png" style="width: 500px; height: 328px;"></p>
         
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">무한 루프(infinite loop)</h2>
      <p>while 문의 동작에서 가장 중요한 것이 바로 <span class="text-danger fw-bold">조건식의 결과를 변경하는 명령문(④)</span>이다.<br>
      while 문에 진입하기 위해서는 조건식(②)의 결과가 참(True)이어야 하는데, 이러한 조건식의 결과를 변경하는 명령문(④)이 <br>
      while 문 내부에 존재하지 않는다면, 조건식의 결과는 언제나 참(True)으로 고정되므로 while 문은 영원히 반복될 것이다. <br>       
      이렇게 영원히 반복되는 반복문을 무한 루프(infinite loop)라고 부르며, 무한 루프에 빠진 프로그램은 영원히 종료되지 않는다.<br><br>
       
      반복문을 작성할 때 가장 많이하는 실수가 바로 루프를 탈출하기 위한 명령문(④)을 실수로 작성하지 않거나<br>
      조건식을 원하는 대로 변경하는데 실패하는 경우이다. 이처럼 의도치 않게 발생한 무한 루프는 해당 프로그램을 정상적인 방법으로는<br>
      끝낼 수 없게 만들며, 결국에는 해당 프로그램뿐만 아니라 프로그램을 돌리는 컴퓨터까지 멈추게 만들 수 있다. <br>
      따라서 while 문과 같은 반복문을 작성할 때는 조건식의 결과가 어느 순간에는 거짓(False)으로 변경되도록 <br>
      반드시 탈출 조건(④)을 포함시켜야 한다.<br>
      이처럼 무한 루프는 특별히 의도한 경우가 아니라면 반드시 피해야 하는 상황이지만, 프로그램을 만들다보면 상황에 따라 의도적으로 <br>
      무한 루프를 사용하는 경우도 생긴다.  파이썬에서는 무한 루프를 다음과 같이 의도적으로 만들 수 있으며, 이때는 탈출 조건에 더욱 신경 써야 한다.<br></p>
      <p><span class="fw-bold">문법<br>
      while True:<br>
          반복적으로 실행하고자 하는 명령문<br>
                                 ⁝<br></span> 

    <hr>
    <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;"> while ~ not in 리스트</h2>
    <p> [리스트]에 포함되지 않았다면, 반복문 계속 수행<br>
        이 방법으로 잘못된 입력값을 받았을 경우, 반복문에서 빠져나갈수없게 할 수 있다</p>
    
    <div class="card text-bg-light mb-3" style="max-width: 50rem;">
            <div class="card-header bd-yellow-100 fw-bold fs-5"> for 문의 리스트내포 활용 </div>
              <p class="card-text" style="padding: 10px 10px;"> 
    <span class="fw-bold"># 가위바위보 게임 <br></span>
    import random   <br>
    n = int(input('가위, 바위, 보 게임을 시작합니다. 몇 판을 진행할까요? : '))<br>
    for i in range(n):<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    user_select = None<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    choice_list = ['가위', '바위', '보']<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    while user_select not in choice_list:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        user_select = input('가위, 바위, 보 중에 하나를 고르세요. : ')<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        pc_select = random.choice(choice_list)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    print(f'{i+1}번째 게임 : 당신은 {user_select}, 저는 {pc_select} 입니다. ')<br></p></div></div>
    <br><br>

    
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">for 문</h2>
      <p>while 문은 구조상 while 문 내부에 조건식의 결과를 변경하는 명령문을 삽입해야하기 때문에 종종 실수를 하게 된다. <br>
        하지만 for 문은 이러한 조건식의 결과를 변경하는 명령문을 따로 사용하지 않고도 튜플이나 리스트, 문자열 등을 원하는 횟수만큼 반복할 수 있도록 해준다.<br></p>
      <p><span class="fw-bold">문법<br>
      for 변수 in 시퀀스데이터(리스트, 튜플, range ....) :<br>
          반복적으로 실행하고자 하는 명령문</p>
                                 ⁝<br></p>

      <p>for 문 순서도</p>
      <p><img alt="if" src="http://www.tcpschool.com/lectures/img_c_for.png" style="width: 500px; height: 328px;"><br> 

      for 문을 만난 프로그램은 우선 in 키워드가 가리키는 문자열, 튜플 또는 리스트(①)의 첫 번째 요소를 꺼내 변수(②)에 대입한다. <br>
      이렇게 대입된 변수는 for 문 내부의 명령문(③)에서 자유롭게 사용할 수 있다.<br>
      for 문 내부의 모든 명령문을 수행하고 나면 또다시 해당 문자열, 튜플 또는 리스트(①)로 돌아가 다음 요소가 있는지를 검사한다.  <br>
      만약 다음 요소가 존재한다면 해당 요소를 변수에 대입하고 또다시 루프를 실행하며, 만약 다음 요소가 존재하지 않는다면 for 문은 종료된다.<br><br>
       
      이처럼 for 문은 대상이 되는 문자열, 튜플 또는 리스트의 길이만큼만 손쉽게 반복문을 수행할 수 있다.<br>
      for 문에서 선언된 변수는 for 문 내부에서만 사용할 수 있으며, for 문이 종료되면 사용할 수 없다.<br>
    
    </div> 

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
          <p class="card-text" style="padding: 10px 10px;">
      str = "파이썬 프로그래밍"  <br>
      for ch in str:<br>
          print(ch)</p>

    <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br> 
      파<br>
      이<br>
      썬<br>
       <br>
      프<br>
      로<br>
      그<br>
      래<br>
      밍</p></div>      </div>
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">range() 함수</h2>
      <p>파이썬에서 for 문과 함께 가장 많이 사용되는 함수는 바로 range() 함수일 것이다.<br>
      range() 함수는 전달된 인수에 따라 연속된 정수들을 반환하는 함수로, 전달되는 인수의 수에 따라 다음과 같이 두 가지 방식으로 사용할 수 있다.</p>
      <p><span class="fw-bold">문법<br>
      1. range(마지막정수) # 0~(마지막정수-1)<br>
      2. range(시작정수, 마지막정수) # 시작정수~(마지막정수-1)<br>
      3. range(시작정수, 마지막정수, 증가(감소)수) <br></span>
      첫 번째 방식처럼 인수가 하나만 전달될 경우에는 0부터 (마지막정수-1)까지 1씩 증가하는 연속된 정수들을 반환한다.<br>
      이때 전달되는 인수가 음의 정수이면 아무런 정수도 반환하지 않는다.</p>
        
    <div class="card text-bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header bd-yellow-100"><p class="fw-bold">예제</p></div>
        <p class="card-text" style="padding: 10px 10px;">
          list(range(10))  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <br>
          list(range(1, 11)) # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]<br>
          list(range(0, 30, 5)) # [0, 5, 10, 15, 20, 25]<br>
          list(range(0, 10, 3)) # [0, 3, 6, 9]<br>
          list(range(0, -10, -1)) # [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]<br>
          list(range(0)) # []<br>
          list(range(1, 0)) # []<br></p></div> 

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
          <p class="card-text" style="padding: 10px 10px;">
      range(5) → 0, 1, 2, 3, 4<br>
      range(10) → 0, 1, 2, 3, 4, 5, 6, 7, 8, 9<br>
      range(-3) → <br>
      만약 두 번째 방식처럼 인수가 두개 전달될 경우에는 시작정수부터 (마지막정수-1)까지 1씩 증가하는 연속된 정수들을 반환한다.</p></div>

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">예제</div>
          <p class="card-text" style="padding: 10px 10px;">
      range(2, 5) → 2, 3, 4<br>
      range(-3, 5) → -3, -2, -1, 0, 1, 2, 3, 4<br>
      range(-7, -2) → -7, -6, -5, -4, -3<br></p></div> 

      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
        <div class="card-header bd-yellow-100 fw-bold fs-5">for 문과 range() 함수를 사용하여 구구단 출력</div>
          <p class="card-text" style="padding: 10px 10px;">
      for col in range(2, 10):<br>
          for row in range(1, 10):<br>
              print (col, " x ", row, " = ", col * row)</p>

    <div class="card-text bd-blue-100" style="padding: 10px 10px;"><p>
      <span class="fw-bold">실행 결과</span><br> 
      2  x  1  =  2<br>
      2  x  2  =  4<br>
      2  x  3  =  6<br>
      2  x  4  =  8<br>
      2  x  5  =  10<br>
      2  x  6  =  12<br>
      2  x  7  =  14<br>
      2  x  8  =  16<br>
      2  x  9  =  18<br>
              ⁝<br>
      9  x  1  =  9<br>
      9  x  2  =  18<br>
      9  x  3  =  27<br>
      9  x  4  =  36<br>
      9  x  5  =  45<br>
      9  x  6  =  54<br>
      9  x  7  =  63<br>
      9  x  8  =  72<br>
      9  x  9  =  81<br></p></div></div>
      <p>위의 예제처럼 for 문 안에 또 다른 for 문을 중첩하여 사용함으로써 문제를 간결하게 표현할 수 있다.<br>
      하지만 for 문의 무리한 중첩 사용은 프로그램의 실행 속도에 큰 영향을 줄 수 있으므로, 사용할 때 세심한 주의가 필요한다.</p>

      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">range() 요소 반복문 </h2>
      <p></p>
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header bd-yellow-100 fw-bold fs-5"> for 변수 in range()</div>
                <p class="card-text" style="padding: 10px 10px;">
      #0부터 2까지 숫자 출력  <br>
      for i in range(0,3,1):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print(i) # 0 / #1 / #2<br><br>
      #0부터 9까지 숫자 중 2개 간격씩 출력<br><br>
      for i in range(0,10,2):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print(i) # 0 / # 2 / 4#  / # 6 / #8<br><br>
      # 1부터 10까지 합한 값은?<br>
      sum = 0<br>
      for i in range(1,11):<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;    sum += i<br>
      print(sum) # 55<br><br>
      # 활용1<br>
      marks = [90, 25, 67, 45, 80]<br>
      for number in range(len(marks)):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    if marks[number] < 60:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        continue<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print("%d번 학생 축하합니다. 합격입니다." % (number+1))<br><br>
      # 활용2 : 구구단<br>
      for i in range(2,10):        # ①번 for문<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    for j in range(1, 10):   # ②번 for문<br>
      &nbsp;&nbsp;&nbsp;&nbsp;        print(i*j, end=" ")<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    print('')<br></p></div></div>
      <br><br>
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">리스트 요소 반복문 </h2>
      <p></p>
      
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header bd-yellow-100 fw-bold fs-5"> for 변수 in 리스트</div>
                <p class="card-text" style="padding: 10px 10px;">
      a = [1, 2, 3, 4, 5]<br>
      print('일일히 원소출력', a[0])<br>
      print('일일히 원소출력', a[1])<br>
      print('일일히 원소출력', a[2])<br>
      print('일일히 원소출력', a[3])<br>
      print('일일히 원소출력', a[4]) # 이것은 노가다..<br>
      for item in a:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print('for 문으로 리스트원소 출력하기', item)<br><br>
      
      <span class="fw-bold">#반복문 기본1 : 리스트 내 요소를 한개씩 출력 : / <- 한줄씩 출력<br></span>
      for index in ["pyhton", "java", "golang"]:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print(index) # python /  # java / # golang<br><br>
      
      <span class="fw-bold">#반복문 기본1 : 리스트 내 요소 수 많큼 반복<br></span>
      for index in ["pyhton", "java", "golang"]:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print("Hello") # # Hello / # Hello / # Hello<br><br>
      
      <span class="fw-bold"># 2중 for문<br></span>
      for first in [('a', 'b', 'c'), ('d', 'e', 'f'), ('e', 'f', 'g')]:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print("first: ", first)<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    for second in first:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        print("second: ", second) <br></p></div>
      
      
      <hr>
      <h2 class="types_text" style="color:#007bff; font-style:italic; text-align:left;">리스트 내포 (comprehension) </h2>
      <p> 리스트 안에 for문을 포함하는 리스트 내포(List comprehension)를 사용하면 좀 더 편리하고 직관적이다 </p>
      
      
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header bd-yellow-100 fw-bold fs-5"> 일반 for 문, for 문의 리스트내포 </div>
                <p class="card-text" style="padding: 10px 10px;"> 
      <span class="fw-bold"># 일반 for문<br></span>
      a = [1,2,3,4]<br>
      result = []<br>
      for num in a: <br>
      &nbsp;&nbsp;&nbsp;&nbsp;    result.append(num*3)  <br>
      print(result) # [3, 6, 9, 12]<br><br>
      
      <span class="fw-bold"># 리스트 내포 + if문<br></span>
      a = [1,2,3,4]<br>
      result = [num * 3 for num in a if num % 2 == 0]<br>
      # "if num % 2 == 0" 이 참이라면, "num * 3 for num in a" 실행<br>
      print(result) # [6, 12]<br><br></p></div>
      
      <div class="card text-bg-light mb-3" style="max-width: 50rem;">
              <div class="card-header bd-yellow-100 fw-bold fs-5"> for 문의 리스트내포 활용 </div>
                <p class="card-text" style="padding: 10px 10px;"> 
      
      daily_stock_price = [<br>
          ('2020-01-01', '18000', '삼성전자'), ('2020-01-02', '18200', '삼성전자'), ('2020-01-03', '18200', '삼성전자'),<br>
          ('2020-01-04', '18300', '삼성전자'), ('2020-01-05', '20000', '삼성전자'), ('2020-01-06', '19900', '삼성전자'),<br>
          ('2020-01-07', '21000', '삼성전자'), ('2020-01-08', '18100', '삼성전자')<br>
      ]<br>
      
      def save_to_db(data):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    # DB에 넣는 함수를 만들었다고 가정<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    print(f"{data}를 DB에 넣습니다...")<br><br>
      
      for item in daily_stock_price:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;    save_to_db(item)<br><br>
      
      date_rows = ["20201123", "20201124", "20201125", "20201126", "20201127"]<br>
      time_rows = ["0900", "0930", "1000", "1030"]<br>
      min_rows = []<br>
      
      for date in date_rows:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;   for time in time_rows:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    min_rows.append(date + time)<br><br>
      
      print(min_rows)<br></p></div></div>
      <br><br>

</body>
</html>